version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: auth_redis

    command: >
      redis-server
        --requirepass "redis_pass"
        --appendonly no
        --maxmemory 256mb
        --maxmemory-policy allkeys-lru
        --bind 0.0.0.0

    ports:
      - "6379:6379"

    volumes:
      - redisdata:/data

    healthcheck:
      test: ["CMD", "redis-cli", "-a", "redis_pass", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redisdata:
